[user]
	email = 
	name = 
[core]
	excludesFile = ~/.gitignore

[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	undo = reset --soft HEAD^
	dated-commit = "!f() { GIT_COMMITTER_DATE=\"$1\" GIT_AUTHOR_DATE=\"$1\" git commit -m \"$2\"; }; f"
	dated-amend = "!f() { GIT_COMMITTER_DATE=\"$1\" GIT_AUTHOR_DATE=\"$1\" git commit --amend --no-edit; }; f"
    dated-amend-l = "!f() { date=$(git log --format=\"%cI\" -n 1); GIT_COMMITTER_DATE=\"$date\" GIT_AUTHOR_DATE=\"$date\" git commit --amend --no-edit; }; f"
[http]
	postBuffer = 157286400
